@use "../common/colors.scss" as *;
@import "../common/variables.scss";

.skillListItem {
  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid map-get($gray, "200");

  &:last-child {
    border-bottom: none;
  }

  &Contents {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  &Title {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    width: 15.625rem;

    &__inner {
      display: flex;
      gap: 1rem;
    }

    &__icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      background-color: map-get($gray, "100");
      flex-shrink: 0;
    }

    &__name {
      font-size: 1.125rem;
    }

    &__level {
      font-size: 1.125rem;
    }
  }

  &Description {
    flex: 1;
    margin: 0;

    &__levelbar {
      display: flex;
      gap: 0.125rem;
      flex-shrink: 0;
    }

    &__levelbar--on,
    &__levelbar--off {
      width: calc((100% - 0.125rem) / 5);
      height: 2rem;
    }

    &__levelbar--on {
      background-color: map-get($gray, "300");
    }

    &__levelbar--off {
      background-color: map-get($gray, "100");
    }

    &__text {
      margin-top: 0.5rem;
    }
  }

  @media (max-width: $breakpoint-sp) {
    &Contents {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }

    &Title {
      width: 100%;
    }
  }
}
