@use "../common/colors.scss" as *;
@import "../common/variables.scss";

.header {
  background-color: map-get($gray, "100");
  padding: 8rem 0;
  text-align: center;
}

.main {
  width: $main-content-width;
  box-sizing: border-box;
  margin: 0 auto;
}

.sectionInner {
    margin-top: 10rem;
}

.codeText {
  display: block;
  color: map-get($gray, "400");
  font-size: 1rem;
  margin-top: 1.5rem;
}

@media (max-width: $breakpoint-sp) {
  .main {
    width: 100%;
    padding: 0 1rem;
  }

  .sectionInner {
      margin-top: 8rem;
  }

  .codeText {
    font-size: 1rem;
    line-height: 1;
    margin-top: 1rem;
  }  
}
