@use "../common/colors.scss" as *;

.header {
  /* background-color: map-get($gray, 100); */
  background-color: #f4f4f5;
  padding: 128px 0;
  text-align: center;
}

.main {
  width: 1000px;
  background-color: white;
  margin: 0 auto;
}
