@import "../common/variables.scss";

.box {
  display: flex;
  gap: 48px;
  margin-top: 2.5rem;
}

.content {
  flex: 1;
}

.image {
  width: 100%;
}

@media (max-width: $breakpoint-sp) {
  .box {
    flex-flow: column;
  }
}
