@import "../common/variables.scss";

.box {
  display: flex;
  margin: 2rem 2.5rem 0;
  gap: 5rem;
}

.content {
  flex: 1;
}

.image {
  width: 100%;
  display: block;
}

.textbox {
  margin-top: 1.5rem;
}

.text {
  margin-top: 1rem;

  &+ .text {
    margin-top: 0.5rem;
  }
}

@media (max-width: $breakpoint-sp) {
  .box {
    flex-flow: column;
    margin: 1.5rem 0 0;
    gap: 2.5rem;
  }
}
