@use "../common/colors.scss" as *;
@import "../common/variables.scss";

.skillInner {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.skillSummary {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  &__title {
    width: 11.5rem;
    flex-shrink: 0;
  }
  &__levelGuide {
    flex: 1;
    min-width: 0; /* 右側の中身がはみ出して、左を押し潰すのを防ぐおまじない */
  }
}

@media (max-width: $breakpoint-sp) {
  .skillInner {
    margin-left: 0;
    margin-right: 0;
  }

  .skillSummary {
    flex-direction: column;
    gap: 1.5rem;
  }
}
