.header {
  background-color: #F4F4F5;
  padding: 128px 0;
  text-align: center;
}

.main {
  background-color: white;
}

.footer {
  background-color: white;
}

.businessCard {
  background-color: white;
}

