@use "../common/colors.scss" as *;
@import "../common/variables.scss";

.Button {
  font-size: 1rem;
  text-align: center;
  margin: 2.5rem auto 0;
  padding: 0.5rem 2rem;
  border: 1px solid map-get($gray, "200");
  border-radius: 0.25rem;
  background-color: $white;
  box-shadow: $shadow-base;

  &::before ,
  &::after {
    color: map-get($gray, "400");
  }

  &::before {
    content: "\3c\60";
    margin-right: 0.25rem;
  }

  &::after {
    content: "\60\3e";
    margin-left: 0.25rem;
  }
}

@media (max-width: $breakpoint-sp) {
  .Button {
    font-size: 0.875rem;
    margin: 1.25rem auto 0;
    padding: 0.125rem 0.5rem;
    }
}
