.linkButton {
  display: block;
  color: #27272A;
  text-align: center;
  line-height: 2;
  vertical-align: middle;
  margin: 2.5rem auto 0;
  padding: 0.25rem 1rem;
  border: 1px solid #A1A1AA;
  border-radius: 0.25rem;
  background-color: white;
}