@use "sass:map";
@use "../common/colors.scss" as *;
@use "../common/variables.scss" as *;

.h1 {
  font-size: 2rem;
  line-height: 1.2;

  &::before {
    content: "\2f\2f";
    color: map.get($gray, "400");
    font-weight: 200;
    margin-right: 0.5rem;
  }
}

.h2 {
  font-size: 1.75rem;
  line-height: 1.2;

  &::before {
    content: "\0023";
    color: map.get($gray, "400");
    font-weight: 200;
    margin-right: 0.5rem;
  }
}

.h3 {
  font-size: 1.5rem;
  line-height: 1.2;
}

@media (max-width: $breakpoint-sp) {
  .h1 {
    font-size: 1.75rem;
  }
  
  .h2 {
    font-size: 1.625rem;
  }
  
  .h3 {
    font-size: 1.5rem;
  }  
}
