@use "sass:map";
@use "../common/colors.scss" as *;
@use "../common/variables.scss" as *;

.businessCard {
  container-type: inline-size;
  max-width: 36.125rem;
  width: 100%;
  margin: 6.5rem auto 0;
  padding: 5.5% 7.6%;
  background-color: white;
  box-shadow: $shadow-xl;
  &__job {
    font-size: 4.15cqi;
    margin-top: 8.3%;
  }
  &__name {
    font-size: 5.53cqi;
    font-weight: normal;
    margin-top: 7.27%;
  }
  &__ruby {
    color: map.get($gray, "400");
    font-size: 3.11cqi;
    margin-top: 4.5%;
  }
  &__sns {
    display: flex;
    justify-content: flex-end;
    gap: 2.77cqi;
    margin-top: 8.3%;
    &Item {
      list-style: none;
      &Link {
        padding: 1.11cqi;
        box-shadow: $shadow-base;
        display: flex;
        align-items: center;
        &Icon {
          width: 2.77cqi;
          height: 2.77cqi;
          vertical-align: middle;
        }
      }
      &:nth-child(-n + 2) .businessCard__snsItemLink {
        padding: 1.11cqi 1.52cqi;
      }
    }
  }
}

@media (max-width: $breakpoint-sp) {
  .businessCard {
    margin: 1.5rem auto 0;
    &__sns {
      justify-content: center;
    }
  }
}
