@use "../common/colors.scss" as *;
@import "../common/variables.scss";

.businessCard {
  max-width: 36.125rem;
  margin: 6.5rem auto 0;
  padding: 2rem 2.75rem;
  background-color: white;
  box-shadow: $shadow-xl;
  &__job {
    font-size: 1.5rem;
    margin-top: 3rem;
  }
  &__name {
    font-size: 2rem;
    font-weight: normal;
    margin-top: 2.625rem;
  }
  &__ruby {
    color: map-get($gray, "400");
    font-size: 1.125rem;
    margin-top: 1.625rem;
  }
  &__sns {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 3rem;
    &Item {
      list-style: none;
      &Link {
        padding: 0.4rem;
        box-shadow: $shadow-base;
        display: flex;
        align-items: center;
        &Icon {
          vertical-align: middle;
        }
      }
      &:nth-child(-n + 2) .businessCard__snsItemLink {
        padding: 0.4rem 0.55rem;
      }
    }
  }
}

@media (max-width: $breakpoint-sp) {
  .businessCard {
    margin: 1.5rem auto 0;
    padding: 1.5rem;
    &__job {
      font-size: 0.875rem;
      margin-top: 1.25rem;
    }
    &__name {
      font-size: 1.5rem;
      margin-top: 0.5rem;
    }
    &__ruby {
      font-size: 0.875rem;
      margin-top: 0.5rem;
    }
    &__sns {
      margin-top: 1rem;
      justify-content: center;
    }
  }
}
