@use "../common/colors.scss" as *;
@import "../common/variables.scss";

.header {
  background-color: map-get($gray, "100");
  padding: 8rem 1rem;
  text-align: center;
}

.introduction {
  font-size: 1.875rem;
}

.flexBox {
  display: flex;
  gap: 0 3rem;
  justify-content: center;
}

.aboutText {
  margin-top: 2.5rem;
}

@media (max-width: $breakpoint-sp) {
  .header {
    padding: 4rem 1rem;
  }
  
  .introduction {
    font-size: 1.5rem;
  }
}
