@use "../common/colors.scss" as *;

.policy {
  display: grid;
  grid-template-columns: 265px 100px auto auto;
  grid-template-rows: auto auto;
  &__title {
    grid-area: 1 / 1 / 2 / 4;
    &__business {
      grid-area: 2 / 2 / 3 / 3;
    }
    &__create {
      grid-area: 3 / 2 / 4 / 3;
    }
  }
  &__text {
    grid-area: 2 / 3 / 3 / 4;
  }
  &__text2 {
    grid-area: 3 / 3 / 4 / 4;
  }
}

.notGood {
  &__title {
    grid-area: 4 / 1 / 5 / 4;
    &__business {
      grid-area: 5 / 2 / 6 / 3;
    }
    &__create {
      grid-area: 6 / 2 / 7 / 3;
    }
  }
  &__text {
    grid-area: 5 / 3 / 6 / 4;
  }
  &__text2 {
    grid-area: 6 / 3 / 7 / 4;
  }
}
