@use "../common/colors.scss" as *;

.profile {
  margin-top: 1.25rem;
  display: flex;
  &__title {
    font-size: 1.25rem;
    font-weight: normal;
  }
  &__list {
    margin: 0;
    list-style: none;
    &Item {
      &::before {
        content: "-";
        display: inline-block;
        width: 1em;
      }
      &Time {
        color: map-get($gray, "400");
      }
    }
  }
}

.history {
  margin: 1.25rem 0 0 1rem;
  &__title {
    display: flex;
    gap: 1rem;
    &Text {
      margin: 0;
    }
  }
  &__text {
    margin: .5rem 0 0;
  }
}