@use "../common/colors.scss" as *;

.profile {
  display: grid;
  grid-template-columns: auto auto; /* 2列の自動幅 */
  grid-template-rows: auto auto; /* 2行の自動高さ */
  // grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  &__fuga {
    grid-area: 1 / 1 / 2 / 2;
  }
  &__hoge {
    grid-area: 1 / 2 / 2 / 4;
    margin-top: 1.25rem;
    display: flex;
  }
  &__fuga2 {
    grid-area: 2 / 1 / 5 / 2;
  }
  &__hoge2 {
    grid-area: 2 / 2 / 3 / 3;
  }
  &__hoge3 {
    grid-area: 2 / 3 / 3 / 4;
  }
  &__hoge4 {
    grid-area: 3 / 2 / 4 / 3;
  }
  &__hoge5 {
    grid-area: 3 / 3 / 4 / 4;
  }
  &__hoge6 {
    grid-area: 4 / 2 / 5 / 3;
  }
  &__hoge7 {
    grid-area: 4 / 3 / 5 / 4;
  }
  &__title {
    font-size: 1.25rem;
    font-weight: normal;
  }
  &__list {
    margin: 0;
    list-style: none;
    &Item {
      &::before {
        content: "-";
        display: inline-block;
        width: 1em;
      }
      &Time {
        color: map-get($gray, "400");
      }
    }
  }
}
/*
.history {
  margin: 1.25rem 0 0 1rem;
  &__title {
    display: flex;
    gap: 1rem;
    &Text {
      margin: 0;
    }
  }
  &__text {
    margin: .5rem 0 0;
  }
}*/