@use "sass:map";
@use "./common/colors.scss" as *;
@use "./common/variables.scss" as *;

.footer {
  margin-top: 8rem;
  border-top: 1px solid map.get($gray, "300");
}

.footerInner {
  width: $main-content-width;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

.menuList {
  display: flex;
  gap: 3rem;
  padding-left: 0;
  &__item {
    list-style: none;

    &.active {
      a {
        font-weight: 500;
      }
    }
  }
}

.copyright {
  color: map.get($gray, "400");
  font-size: 0.875rem;
  margin-top: 2.5rem;
}

@media (max-width: $breakpoint-sp) {
  .footer {
    width: 100%;
  }

  .menuList {
    flex-wrap: wrap;
    gap: 1.5rem;
    &__item {
      font-size: 0.875rem;
    }
    }
  
  .copyright {
    margin-top: 2.5rem;
    small {
      font-size: 0.815rem;
    }
  }
}
