.header {
  background-color: #F4F4F5;
  padding: 128px 0;
  text-align: center;
}

.main {
  width: 1000px;
  background-color: white;
  margin: 0 auto;
}

.footer {
  width: 1000px;
  background-color: white;
  margin: 0 auto;
}

.businessCard {
  background-color: white;
}

